$orange-light : #FD841F;
$orange-deep : #E14D2A;
$red : #CD104D;
$purple : #9C2C77;

#searchbar-main{
    border: 0.1rem solid;
    border-radius: 10px;
    width: 35%;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0.3rem;

    input{
        width: 95%;
        height: 1.6rem;
        outline: none;
        border: none;
        }
    
    &:active{
        outline: auto;
    }
}