#categorylist-main{
    display: flex;
    flex-direction: column;

    .list-body{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}