$orange-light : #FD841F;
$orange-deep : #E14D2A;
$red : #CD104D;
$purple : #9C2C77;

#card-main{
 position: relative;
    .overlay{
        border-radius: 5px;
        position: relative;
        height: 275px;
        width: 13rem;
        opacity: .5;
        &:hover{ 
            
            cursor: not-allowed;
            h5{
                width: 100%;
                position: absolute;
                bottom:1px;
                display: block;

            }
            
        }

    }

    .card{  
    height: auto;
    width: 13rem;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    img{
        
    }
    
    h5{
    display: none;      
    }

    p{
        color: gray;
    }
    &:hover{ 
        
        cursor: pointer;
        background-color: lightgray;

        img{

        }
    }
}
}