$orange-light : #FD841F;
$orange-deep : #E14D2A;
$red : #CD104D;
$purple : #9C2C77;

$Color1:#064635;
$Color2:#519259;
$Color3:#F0BB62;
$Color4:#F4EEA9;

#header-main{
    position: relative;
    background-color: $Color1;
    opacity:0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    h1{
        color:$Color4;
    }

    .trigger-main{
        position: absolute;
        left: 15px;

    }
}