$orange-light : #FD841F;
$orange-deep : #E14D2A;
$red : #CD104D;
$purple : #9C2C77;

#header-main{
    background-color: $purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    h1{
        color:$orange-light;
    }
}