
 
.overlay{
        border-radius: 5px;
        position: relative;
        height: 275px;
        width: 13rem;
        opacity: .5;
        &:hover{ 
            
            cursor: not-allowed;
            h5{
                width: 100%;
                position: absolute;
                bottom:1px;
                display: block;

            }
            
        }

    }

  