
 
.overlay{
        border-radius: 5px;
        position: relative;
        opacity: .5;
        &:hover{ 
            
            cursor: not-allowed;
            h5{
                width: 100%;
                position: absolute;
                bottom:1px;
                display: block;

            }
            
        }

    }
    .card-container {
        width: 300px; /* Adjust this to your desired card width */
        height: 350px; /* Adjust this to your desired card height */
      }
      
      .card-image {
        width: 100%;
        height: 60%; /* Adjust this to control the image height relative to the card height */
        object-fit: cover; /* Maintain the aspect ratio and fill the available space */
      }
      
      .card-body {
        height: 40%; /* Adjust this to control the text area height relative to the card height */
        overflow: hidden;
      }
      
  